@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* -------------------------------------------------------------------------- */
/*                              Themes Variables                              */
/* -------------------------------------------------------------------------- */
:root {
    --background-color: #F3F7EC;
    --primary-color: #005C78;
    --primary-color-light: #008ab4;
    --secondary-color: #E88D67;
    --text-color: #000000;
    --offset-color: #EAD8B1;
    --light-tag: #F3F7EC;
}

[data-theme="dark-blue"] {
    --background-color: #006989;
    --primary-color: #F3F7EC;
    --primary-color-light: #EAD8B1;
    --secondary-color: #E88D67;
    --text-color: #FFFFFF;
    --offset-color: #EAD8B1;
}


/* -------------------------------------------------------------------------- */
/*                          HTML and Body Definition                          */
/* -------------------------------------------------------------------------- */
html {
    position: relative;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: Inconsolata;
    /* overflow-x: hidden */
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* -------------------------------------------------------------------------- */
/*                               Default Styles                               */
/* -------------------------------------------------------------------------- */
h1 {
    color: var(--primary-color);
    font-family: "Karla", sans-serif;
    font-size: 2.986rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.5375rem;
    margin: 0.25rem 0;
}

h2 {
    color: var(--secondary-color);
    font-family: "Karla", sans-serif;
    font-size: 1.728rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5375rem;
    margin: 1rem 0;
}

h3 {
    color: var(--primary-color-light);
    font-family: "Karla", sans-serif;
    font-size: 1.728rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4,
.nav-links {
    color: var(--primary-color);
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5 {
    color: var(--primary-color);
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: 0.817rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h6 {
    color: var(--light-tag);
    font-family: "Inconsolata", monospace;
    font-size: 0.83313rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: var(--text-color);
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.content-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    width: 80%;
}

/* -------------------------------------------------------------------------- */
/*                                 Header Menu                                */
/* -------------------------------------------------------------------------- */
.nav-header {
    display: flex;
    justify-content: space-between;
    padding: 3.75rem 0;
}

.nav-right {
    display: flex;
    height: 2.1875rem;
    align-items: center;
    margin-top: 1rem;
}

.nav-links {
    text-decoration: none;
    color: inherit;
    margin-right: 3.25rem;
}

.nav-links:hover {
    color: var(--primary-color-light);
}

.nav-links-active {
    color: var(--secondary-color);
}

.nav-links-no-hover:hover {
    color: var(--secondary-color);
    cursor: default;
}

.profile-picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid #EAD8B1;
    transition: all 0.45s ease;
}

.profile-picture-huge {
    width: 10rem;
    height: 10rem;
}

.social-links {
    display: flex;
    gap: 1.25rem;
}

/* -------------------------------------------------------------------------- */
/*                          Hero Introduction Section                         */
/* -------------------------------------------------------------------------- */
.intro-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

/* -------------------------------------------------------------------------- */
/*                               Keyboard Styles                              */
/* -------------------------------------------------------------------------- */
.keycap-background {
    width: 3.426rem;
    height: 3.543rem;
    background: conic-gradient(from 180deg at 50% 50.41%, #9D9177 44.826469123363495deg, #EAD8B1 58.594990968704224deg, #FFEFC0 135.78335523605347deg, #FFF3C0 143.06681871414185deg, #FFF3C0 215.82390546798706deg, #FFEFC0 223.88192653656006deg, #EAD8B1 300.615291595459deg, #9D9177 315.31965494155884deg);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem 0.5rem 0.35rem 0.35rem;
    transition: transform 0.1s ease-in-out;
}

.keycap-wide-background {
    background: conic-gradient(from 180deg at 50% 50%, #9D9177 65.826deg, #EAD8B1 79.594deg, #FFEFC0 135.783deg, #FFF3C0 143.066deg, #FFF3C0 215.823deg, #FFEFC0 223.881deg, #EAD8B1 279.615deg, #9D9177 295.319deg);
}

.keycap-foreground {
    width: 2.655rem;
    height: 2.742rem;
    background-color: #EAD8B1;
    filter: drop-shadow(0px 3.735px 7.47px rgba(0, 0, 0, 0.10));
    margin-top: 0.15rem;
    border-radius: 0.5rem 0.5rem 0.35rem 0.35rem;
    display: flex;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
}

.keycap-font {
    font-family: "Karla", sans-serif;
    font-size: 1.050rem;
    font-weight: 700;
    padding-top: 0.25rem;
    user-select: none;
    background: linear-gradient(90deg, #ff004c, #ff7700, #ffdd00, #00ff9d, #00d1ff, #6a00ff);
    background-size: 600%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

/* .keycap-background:active {
    transform: translateY(0.2rem) scale(0.95);
}

.keycap-foreground:active {
    transform: scale(0.98);
} */

.keycap-backlight-on .keycap-font {
    animation: gradient-animation 3s ease infinite;
}

.keycap-backlight-off .keycap-font {
    color: #005C78;
    background: none;
    animation: none;
}

.keycap-background.keycap-active {
    transform: translateY(0.2rem) scale(0.95);
}

.keycap-foreground.keycap-active {
    transform: scale(0.98);
}

#keyboard {
    display: grid;
    justify-items: right;
    gap: 1rem;
    /* margin-top: 0.5rem; */
}

.keyboard-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}